MONGO_URL=
DB_NAME=artjunkie_production
JWT_SECRET=
CORS_ORIGINS=
ADMIN_EMAIL=admin@artjunkie.ro
ADMIN_PASSWORD=

WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

EMAIL_SERVER=
EMAIL_FROM=
